.button {
    background: lightgray;
    border: thin solid gray;
    font-size: 6.0rem;
    height: 16.4vh;
    margin: 0;
    outline: none;
    padding: 0;
    width: 25vw;
};
.button:active {
    background: darken(lightgray, 20%);
};

.button-0 {
    @extend .button;
    width: 50vw
};

.button-operation {
    @extend .button;
    background: orange;
    color: white;
};
.button-operation:active {
    background: darken(orange, 20%);
}