.page-header {
    background: $display;
    height: 18vh;
    margin: 0;
};

.page-header__display {
    color: white;
    font-size: 9.6rem;
    font-weight: 300;
    margin: 0 3.2rem 0 0;
    text-align: right;
};